---
import { cn } from "src/utils/class-names.ts";

interface Props {
  class?: string;
}

const props = Astro.props;

const { default: innerHTML } = await import("./logo.svg?raw");
---

<div class={cn("flex flex-1", props.class)}>
  <Fragment set:html={innerHTML} />
</div>
