---
import { getLangFromUrl, getRouteFromUrl, useRouter } from "src/i18n";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const router = useRouter(lang);
---

<a
  class="font-display text-base text-zinc-800 dark:text-zinc-200"
  href={router(`/${route ? route : ""}`, lang === "en" ? "fr" : "en")}
>
  {lang === "en" ? "FR" : "EN"}
</a>
