---
import Icon from "src/components/atoms/icons/icon.astro";
---

<button id="theme-toggle" data-theme-toggle class="w-6 h-6" transition:persist>
  <Icon name="theme-light" class="hidden dark:block text-zinc-100" />
  <Icon name="theme-dark" class="block dark:hidden text-zinc-900" />
</button>

<script is:inline>
  const getTheme = () => {
    // Check if the user has set a preference for light or dark mode.
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }

    // Check if the user has set a browser or OS preference for dark mode.
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  };

  const setTheme = (theme) => {
    localStorage.setItem("theme", theme);

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
  };

  window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
  document.addEventListener("astro:after-swap", () => setTheme(getTheme()));

  const onThemeToggleClick = () => {
    const currentTheme = getTheme();
    const updatedTheme = currentTheme === "light" ? "dark" : "light";

    setTheme(updatedTheme);
  };

  document
    .getElementById("theme-toggle")
    .addEventListener("click", onThemeToggleClick);
</script>
