---
import { getLangFromUrl, useRouter, useTranslations } from "src/i18n";
import { getTopHardStack } from "../api/get-top-hard-stack";
import { getTopSoftStack } from "../api/get-top-soft-stack";
import SeparatorLink from "src/components/molecules/separator-link.astro";
import StackItem from "./stack-item.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const router = useRouter(lang);

const hardStackItems = await getTopHardStack(lang);
const softStackItems = await getTopSoftStack(lang);
---

<div class="space-y-4 md:space-y-6">
  <div class="space-y-2 md:space-y-3">
    <h3
      class="font-display font-semibold text-xl text-zinc-900 dark:text-zinc-100"
    >
      {t("features.stack.myStack")}
    </h3>
    <div class="space-y-1 md:space-y-2">
      <h4
        class="font-display font-semibold text-lg text-zinc-900 dark:text-zinc-100"
      >
        {t("features.stack.hardStack")}
      </h4>
      <ul class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-4">
        {hardStackItems.map((stackItem) => <StackItem stackItem={stackItem} />)}
      </ul>
    </div>
    <div class="space-y-1 md:space-y-2">
      <h4
        class="font-display font-semibold text-lg text-zinc-900 dark:text-zinc-100"
      >
        {t("features.stack.softStack")}
      </h4>
      <ul class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-4">
        {softStackItems.map((stackItem) => <StackItem stackItem={stackItem} />)}
      </ul>
    </div>
  </div>
  <SeparatorLink
    href={router("/stack")}
    label={t("features.stack.redirect")}
    icon="stack"
  />
</div>
