---
import Separator from "src/components/atoms/separator.astro";
import AboutBanner from "src/features/about/components/about-banner.astro";
import AboutRedirects from "src/features/about/components/about-redirects.astro";
import Layout from "src/layouts/layout.astro";
---

<Layout routeKey="about">
  <div class="p-2 sm:p-4 md:p-6 space-y-8">
    <AboutBanner />
    <Separator />
    <AboutRedirects />
  </div>
</Layout>
