---
import { getLangFromUrl, useRouter, useTranslations } from "src/i18n";
import Layout from "src/layouts/layout.astro";
import SeparatorLink from "src/components/molecules/separator-link.astro";
import RecentBlogPostList from "src/features/blog/components/recent-blog-post-list.astro";
import RecentProjectList from "src/features/projects/components/recent-project-list.astro";
import TopStackList from "src/features/stack/components/top-stack-list.astro";
import TopBookmarkList from "src/features/bookmarks/components/top-bookmark-list.astro";
import ContactList from "src/features/contacts/components/contact-list.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const router = useRouter(lang);
---

<Layout routeKey="home">
  <div class="p-2 sm:p-4 md:p-6 space-y-4 md:space-y-6">
    <div class="space-y-4 md:space-y-6">
      <h1
        class="font-display text-3xl text-zinc-900 dark:text-zinc-100 whitespace-pre-line"
      >
        {t("pages.home.title")}
      </h1>
      <p
        class="font-sans text-sm text-zinc-700 dark:text-zinc-300 whitespace-pre-line"
      >
        {t("pages.home.subtitle")}
      </p>
      <SeparatorLink
        href={router("/about")}
        label={t("pages.home.aboutRedirect")}
        icon="about"
      />
    </div>

    <RecentBlogPostList />
    <RecentProjectList />
    <TopStackList />
    <TopBookmarkList />
    <ContactList />
  </div>
</Layout>
