---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import Layout from "src/layouts/layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <h1>{t("pages.home.content")}</h1>
</Layout>
