---
import Icon from "src/components/atoms/icons/icon.astro";
import SeparatorLink from "src/components/molecules/separator-link.astro";
import { getLangFromUrl, useRouter, useTranslations } from "src/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const router = useRouter(lang);
---

<div
  class="grid grid-cols-1 lg:grid-cols-3 gap-8 h-fit lg:h-[200px] xl:h-[150px]"
>
  <div class="flex flex-col space-y-1 md:space-y-2">
    <h3
      class="flex flex-row gap-x-2 font-display text-xl text-zinc-900 dark:text-zinc-100"
    >
      <Icon name="blog" class="w-6 h-6 self-center" />
      {t("features.about.blog")}
    </h3>
    <p
      class="flex-1 font-sans text-sm text-zinc-700 dark:text-zinc-300 whitespace-pre-line"
    >
      {t("features.about.blog.description")}
    </p>
    <SeparatorLink
      href={router("/blog")}
      label={t("features.about.blog.redirect")}
      icon="next"
    />
  </div>
  <div class="flex flex-col space-y-1 md:space-y-2">
    <h3
      class="flex flex-row gap-x-2 font-display text-xl text-zinc-900 dark:text-zinc-100"
    >
      <Icon name="projects" class="w-6 h-6 self-center" />
      {t("features.about.projects")}
    </h3>
    <p
      class="flex-1 font-sans text-sm text-zinc-700 dark:text-zinc-300 whitespace-pre-line"
    >
      {t("features.about.projects.description")}
    </p>
    <SeparatorLink
      href={router("/projects")}
      label={t("features.about.projects.redirect")}
      icon="next"
    />
  </div>
  <div class="flex flex-col space-y-1 md:space-y-2">
    <h3
      class="flex flex-row gap-x-2 font-display text-xl text-zinc-900 dark:text-zinc-100"
    >
      <Icon name="stack" class="w-6 h-6 self-center" />
      {t("features.about.stack")}
    </h3>
    <p
      class="flex-1 font-sans text-sm text-zinc-700 dark:text-zinc-300 whitespace-pre-line"
    >
      {t("features.about.stack.description")}
    </p>
    <SeparatorLink
      href={router("/stack")}
      label={t("features.about.stack.redirect")}
      icon="next"
    />
  </div>
</div>
