---
import { cn } from "src/utils/class-names";
interface Props {
  class?: string;
  href: string;
}

const props = Astro.props;
---

<a
  class={cn([
    "w-fit whitespace-nowrap flex flex-row items-center px-4 py-2 gap-x-2 rounded-lg transition-all shadow-sm hover:shadow-md ",
    "font-sans text-sm text-primary-600 dark:text-zinc-100 bg-primary-100 dark:bg-primary-900",
    props.class,
  ])}
  href={props.href}
>
  <slot />
</a>
