---
import { languages } from "src/i18n/translations";
import { getLangFromUrl, getRouteFromUrl, useRouter } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const router = useRouter(lang);
---

<ul class="flex flew-row space-x-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          class="text-sm text-zinc-800 dark:text-zinc-400"
          href={router(`/${route ? route : ""}`, lang)}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
