---
import { languages } from "src/i18n/translations";
import { getLangFromUrl, useRoute } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const route = useRoute(lang);
---

<ul class="flex flew-row space-x-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          class="text-sm text-zinc-800 dark:text-zinc-400"
          href={route("/", lang)}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
