---
export interface Props {
  name:
    | "theme-dark"
    | "theme-light"
    | "close"
    | "menu"
    | "home"
    | "stack"
    | "bookmarks"
    | "contact"
    | "about"
    | "blog"
    | "projects"
    | "languages"
    | "enter"
    | "git-hub"
    | "linked-in"
    | "malt"
    | "medium"
    | "yield-studio"
    | "next";
  class?: string;
}

const props = Astro.props;

const { default: innerHTML } = await import(`./${props.name}.svg?raw`);
---

<div class={props.class}>
  <Fragment set:html={innerHTML} />
</div>
