---
import { cn } from "src/utils/class-names.ts";

interface Props {
  name: "close" | "menu" | "theme-dark" | "theme-light";
  class?: string;
}

const props = Astro.props;

const { default: innerHTML } = await import(`./${props.name}.svg?raw`);
---

<div class={cn("flex flex-1", props.class)}>
  <Fragment set:html={innerHTML} />
</div>
