---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import ThemePicker from "../molecules/theme-picker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex flex-row p-2 sm:p-4 md:p-6 space-x-8 items-center place-content-between"
>
  <h1 class="text-primary-500 text-3xl">jsanchez-qt</h1>

  <space class="flex flex-row space-x-4">
    <nav class="space-x-4 text-zinc-900 dark:text-zinc-100">
      <a href="#">{t("nav.home")}</a>
      <a href="#">{t("nav.about")}</a>
      <a href="#">{t("nav.blog")}</a>
      <a href="#">{t("nav.projects")}</a>
      <a href="#">{t("nav.stack")}</a>
      <a href="#">{t("nav.bookmarks")}</a>
      <a href="#">{t("nav.contact")}</a>
    </nav>

    <ThemePicker />
  </space>
</div>
