---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import ThemePicker from "../molecules/theme-picker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-row space-x-8">
  <nav class="space-x-4">
    <a href="#">{t("nav.home")}</a>
    <a href="#">{t("nav.about")}</a>
    <a href="#">{t("nav.blog")}</a>
    <a href="#">{t("nav.projects")}</a>
    <a href="#">{t("nav.stack")}</a>
    <a href="#">{t("nav.bookmarks")}</a>
    <a href="#">{t("nav.contact")}</a>
  </nav>

  <ThemePicker />
</div>
