---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import ThemePicker from "../molecules/theme-picker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button id="sidebar-open-button" class="block sm:hidden">
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="sidebar"
  data-state="closed"
  class:list={[
    "fixed top-0 left-0 z-40 w-full sm:w-64 h-screen bg-white dark:bg-zinc-900 sm:border-r border-r-primary-500",
    "transition-transform -translate-x-full sm:translate-x-0 data-[state=opened]:translate-x-0",
  ]}
>
  <div
    class="flex flex-col place-content-between h-full px-3 py-4 overflow-y-auto"
  >
    <div class="flex flex-row place-content-between">
      <h1 class="text-primary-500 text-3xl">jsanchez-qt</h1>
      <button id="sidebar-close-button" class="block sm:hidden">
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <nav class="flex flex-col space-y-2 text-zinc-900 dark:text-zinc-100">
      <a href="#">{t("nav.home")}</a>
      <a href="#">{t("nav.about")}</a>
      <a href="#">{t("nav.blog")}</a>
      <a href="#">{t("nav.projects")}</a>
      <a href="#">{t("nav.stack")}</a>
      <a href="#">{t("nav.bookmarks")}</a>
      <a href="#">{t("nav.contact")}</a>
    </nav>

    <ThemePicker />
  </div>
</aside>

<script is:inline>
const onSidebarOpenClick = () => {
    const element = document.getElementById("sidebar");
    element.setAttribute("data-state", "opened");
};

const onSidebarCloselick = () => {
    const element = document.getElementById("sidebar");
    element.setAttribute("data-state", "closed");
};

document
    .getElementById("sidebar-open-button")
    .addEventListener("click", onSidebarOpenClick);

document
    .getElementById("sidebar-close-button")
    .addEventListener("click", onSidebarCloselick);
</script>
