---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import ThemePicker from "src/components/molecules/theme-picker.astro";
import Logo from "src/components/atoms/logo/logo.astro";
import Icon from "src/components/atoms/icons/icon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button id="sidebar-open-button" class="block p-4 sm:hidden">
  <Icon name="menu" class="w-5 h-5 text-zinc-900 dark:text-white" />
</button>

<aside
  id="sidebar"
  data-state="closed"
  class:list={[
    "fixed top-0 left-0 z-40 w-full sm:w-64 h-screen bg-white dark:bg-zinc-900 sm:border-r border-r-primary-500",
    "transition-transform -translate-x-full sm:translate-x-0 data-[state=opened]:translate-x-0",
  ]}
>
  <div
    class="flex flex-col place-content-between h-full px-3 py-4 overflow-y-auto"
  >
    <div class="flex flex-row place-content-between">
      <button
        id="sidebar-close-button"
        class="absolute top-4 right-4 sm:hidden"
      >
        <Icon name="close" class="w-4 h-4 text-zinc-900 dark:text-white" />
      </button>
      <Logo class="w-14 h-14 justify-center text-primary-500" />
    </div>

    <nav
      class="flex flex-col space-y-3 font-display p-4 text-zinc-900 dark:text-zinc-100"
    >
      <a href="#">{t("nav.home")}</a>
      <a href="#">{t("nav.about")}</a>
      <a href="#">{t("nav.blog")}</a>
      <a href="#">{t("nav.projects")}</a>
      <a href="#">{t("nav.stack")}</a>
      <a href="#">{t("nav.bookmarks")}</a>
      <a href="#">{t("nav.contact")}</a>
    </nav>

    <ThemePicker />
  </div>
</aside>

<script is:inline>
  const onSidebarOpenClick = () => {
    const element = document.getElementById("sidebar");
    element.setAttribute("data-state", "opened");
  };

  const onSidebarCloselick = () => {
    const element = document.getElementById("sidebar");
    element.setAttribute("data-state", "closed");
  };

  document
    .getElementById("sidebar-open-button")
    .addEventListener("click", onSidebarOpenClick);

  document
    .getElementById("sidebar-close-button")
    .addEventListener("click", onSidebarCloselick);
</script>
