---
import SeoHeader from "src/features/seo/header.astro";
import Sidebar from "src/components/organisms/sidebar.astro";
import { getLangFromUrl } from "src/i18n";
import "@fontsource/inter";
import "@fontsource/space-mono";
import "src/global.css";
import type { ROUTES } from "src/constants/routes";
import { ViewTransitions } from "astro:transitions";
import StickyHeader from "./sticky-header.astro";

interface Props {
  routeKey: keyof typeof ROUTES;
}

const lang = getLangFromUrl(Astro.url);
const props = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <SeoHeader />
    <ViewTransitions />
  </head>
  <body
    class:list={[
      "h-full w-screen bg-[radial-gradient(ellipse_at_bottom_left,_var(--tw-gradient-stops))]",
      "from-white via-primary-50 to-white dark:from-zinc-950 dark:via-primary-950 dark:to-zinc-950",
    ]}
  >
    <Sidebar routeKey={props.routeKey} />
    <div class="sm:ml-[300px]">
      <StickyHeader />
      <article class="p-4">
        <slot />
      </article>
    </div>
  </body>
</html>
